*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
ul li{
    list-style-type: none;
}
.wrapper{
    background-color: #000000;
}
.fa-bars{
    color: #FFFFFF;
}
header{
    padding: 20px 0;
}
header .nav-menu{
    flex-flow: wrap;
    display: flex;
    justify-content: space-between;
}
header .options a:hover{
    color: purple;
}
.company-logo{
    display: flex;
}
.text-logo{
    margin: 0 5px 0;
    font-family: Poppins,sans-serif;
    font-size: 28px;
    font-weight: 800;
    line-height: 56px;
    letter-spacing: 0;
    text-align: left;
    color: #FFFFFF;
}
.options a{
    font-family: Poppins,sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    text-align: left;
    line-height: 3.5;
}
header .options a,.button a{
     color: #707070;;
}
header ul{
    display: flex;
    width: 270px;
    margin: 0 auto;
}
header .options a{
    transition: all 0.3s ease;
}

header .navigation-panel{
    cursor: pointer;
    display: none;
}
input[type="checkbox"]{
    display: none;
}
.buttons-header a:hover{
    color: purple;
}
.header-nav ul{
    flex-wrap: wrap;
    list-style: none;
    display: flex;
}
.buttons-header{
    justify-content: space-between;
    width: 140px;
    display: flex;
    line-height: 3.4;
}
.reg a{
    color: #FFFFFF;
    border-radius: 0.2rem;
    padding: 8px 15px;
    background-color: #306EF7 ;
}
.reg a:hover{
    color: #FFFFFF;
    background-color: #707070;
    transition: 0.4s;
}

.main-titles{
    font-size: 80px;
    margin: 75px 0;
}
.main-titles{
    text-align: center;
    font-family: Poppins,sans-serif;
    font-weight: 700;
}
.text-White{
    color: #FFFFFF;
}
.text-rgb{
    color: #FE6783;
}

.btn-content{

}
.button-block{
    margin: 0 auto;
    text-align: center;
    width: 400px;
    height: 200px;
}
.button-block .title{
    font-family: Poppins,sans-serif;
    font-size: 23px;
    color: #FFFFFF;
}
.btn-content .buttons{
    margin: 30px 0;
}
.button-block .buttons .button-group{
    display: flex;
    justify-content: space-between;
}
 .buttons .button{
    padding: 12px 0;
    width: 180px;
    border-radius: 0.2rem;
}
 .online-dot .text{
     display: flex;
 }
 .fa-circle{
     line-height: inherit;
     color: #0FC65C;
     margin-right: 5px;
 }
.b1{
    background-color: #306EF7;
    color: #FFFFFF;
}
.b2{
    color: #707070;
    border: 1px solid #707070;
}
.creators{
    margin: 120px 0 0;
    padding: 0 0 30px;
}
.heading-text, .advantages-block .title{
    font-weight: 600;
    color: #FFFFFF;
}
.heading-text{
    text-align: center;
    width: 100%;
    font-size: 65px;
}
.advantages-block{
    padding: 30px 0 0;
    display: flex;
    justify-content: space-between;
}
.advantages-block .title{
    font-size: 25px;
}
.advantages-block .text{
    font-size: 16px;
    color: #707070;
}
.advantages-block .block{
    text-align: center;
    color: #FFFFFF;
}
.advantages-block img{
    width: 28px;
    height: 29px;

}

.step{
    text-align: center;
    padding: 100px;
}
.step-title{
    text-transform: uppercase;
    color:  #3D82F2;
    font-size: 16px;
    font-weight: 600;
}
.heading-title{
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 600;
}
.step .text{
    word-break: break-word;
    margin: 0 auto;
    width: 650px;
    font-size: 16px;
    color: #707070;
}
.step button{
    margin: 20px 0 0;
    background: inherit;
    border: 1px solid;
    color: #707070;
    padding: 10px 30px;
    border-radius: 0.3rem;
}
.step button:hover{
    color: #FFFFFF;
    background-color: #707070;
    transition: 0.5s;
}

.homepage{
    padding: 0 0 30px;
}
.homepage .container{
    padding: 0 70px;
    display: flex;
    justify-content: space-between;
}
.homepage .text-content{
    width: 45%;
}
.homepage .img-block{
    width: 45%;
    position: relative;
}
.homepage .pos-img{
    width: 100%;
    position: relative;
    z-index: 3;
}
.homepage .abs-img{
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: calc(50% - 116px);
}
.button-group .button{
    padding: 10px 20px;
    border-radius: 0.3rem;
}
.homepage .title-homepage{
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 600;
}
.homepage .spot-content{
    margin: 30px 0 50px;
}
.homepage .spot-content .title{
    font-size: 50px;
    font-weight: 600;
    color: #FFFFFF;
}
.homepage .spot-li{
    margin: 30px 0 ;
    font-size: 16px;
    color: #FFFFFF;
}
.spot-content span{
    color: #3C82F4;
}
.one-link{
    padding: 0 0 50px;
}
.one-link .content-link{
    display: flex;
    justify-content: space-evenly;
}
.one-link .block{
    position: relative;
    padding: 10px 10px 0;
    width: 500px;
    height: 354px;
    background-color: #0D0D0D;
}
.one-link .block .text{
    font-size: 50px;
    font-weight: 600;
}
.one-link img{
    left: 21%;
    position: absolute;
    max-width: 100%;
    object-fit: cover;
}
.one-link a{
    border-radius: 0.3rem;
    display: block;
    color: #FFFFFF;
    background-color: #306EF7;
    width: fit-content;
    padding: 10px 50px;
    margin: 50px auto;
}

.experts-agree{
    margin: 50px 0;
}
.text-heading{
    font-weight: 600;
    padding: 20px 0 0;
    color: #FFFFFF;
    text-align: center;
    font-size: 50px;
}
.experts{
    padding: 30px 40px;
}
.experts-agree img{
    margin: 50px 0;
    width: 100%;
    object-fit: cover;
}

.audience{
    position: relative;
    height: 600px;
    background: url("../img/Image (3).png");
}
.audience .text-heading{
    position: absolute;
    width: 800px;
    left: calc(50% - 400px);
    top: 30%;
}

.get-start{
    padding: 100px 0;
}
.logo{
    width: fit-content;
    margin: 0 auto;
}
.get-start .title{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 45px;
    width: fit-content;
    margin: 0 auto;
}
.get-start .under-text{
    margin: 0 auto;
    width: fit-content;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 25px;
}
.get-start .buttons{
    width: fit-content;
    margin: 30px auto;
}
.get-start .b1{
    padding: 15px 30px;
}
.online-dot {
    width: fit-content;
    margin: 0 auto;
}

.footer-menu{
    color: #707070;
    padding: 40px 0;
}
.footer-menu .container{
    justify-content: space-between;
    display: flex;
}
.footer-menu .logo-block{
    width: fit-content;
}
.footer-menu .inner-logo{
    width: fit-content;
    display: flex;
}
.footer-menu .logo,.text-logo{
    width: fit-content;
}
.footer-menu li{
    line-height: 5.5rem;
    margin: 0 10px;
}
.footer-menu a{
    color: #707070;
}
.footer-menu a:hover{
    color: #306EF7;
    text-decoration: underline white;
}


/* fonts */
@font-face {
    font-family: Poppins,'sans-serif';
    src: url("/fonts/Poppins-ExtraBold.ttf");
    src: url("/fonts/Poppins-Bold.ttf");
    src: url("/fonts/Poppins-Medium.ttf");
    src: url("/fonts/Poppins-SemiBold.ttf");
}

